* {
    box-sizing: border-box;
  }
  body{
    background-color: rgb(155, 155, 155);
  
  }
  .main{
    width: 90vw;
    margin: 3vh 5vw;
  
  }
  .home {
    text-align: center;
    margin-top: 10%;
    background-color: rgb(133, 133, 133);
  
  }
  
  .home h1 {
    font-size: 36px;
    
  }
  
  .play {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 70px;
    margin-top: 20px;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .play:hover {
    cursor: pointer;
    background-color: rgb(141, 141, 141);
    color: rgb(0, 0, 0);
  }
  
  .quiz {
    background-color: white;
    padding: 10px;
  }
  
  .quiz h1,
  h3 {
    text-align: center;
    padding: 15px;
  }
  
  .div {
    text-align: center;
  }
  
  .div button {
    margin: 15px;
    margin-left: 30px;
    width: 460px;
    padding: 15px;
    background-color: rgb(161, 161, 161);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    /* border-radius: 10px; */
  }
  
  .div button:hover {
    border: 1px solid black;
  }
  
  .options {
    padding-top: 25px;
    text-align: center;
  }
  
  .options button {
    margin: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    background-color: rgb(31, 81, 173);
  }
  .next {
    background-color: rgb(10, 163, 10);
  }
  .quit {
    background-color: rgb(226, 75, 75);
  }
  .h1{
    text-align: center;
    color: green;
  }
  
  .resultpage {
    background-color: white;
    margin-left: 330px;
    margin-top: 30px;
    width: 480px;
    text-align: center;
  }
  
  .resultpage h1 {
    color: blue;
  }
  
  .result {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
  }
  
  .result h5 {
    padding: 5px;
  }
  
  .buttons {
    text-align: center;
    margin: 20px;
  }
  
  .buttons button{
    margin: 10px;
    padding: 3px 12px 3px 12px;
  }
  
  .again{
    border: 2px solid rgb(56, 100, 182);
    color: rgb(56, 100, 182);
  }
  
  .again:hover{
    background-color: rgb(56, 100, 182);
    color: white;
    cursor: pointer;
  }
  
  .Homebtn {
   border:2px solid green;
   color: green;
  }
  
  .Homebtn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
  }